body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #fdfdfd;
    color: #333;
}

header {
    background: #b30000;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    background: #800000;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav a:hover {
    background: #cc0000;
}

section {
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

code {
    background: #f0f0f0;
    padding: 5px;
    font-family: monospace;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background: #f2c94c;
}

td, th {
    padding: 12px;
    text-align: center;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.galeria img {
    width: 200px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.galeria img:hover {
    transform: scale(1.05);
}

footer {
    background: #b30000;
    color: white;
    text-align: center;
    padding: 20px;
}

.redes a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
